*{
  font-family: 'Barlow', sans-serif;
}

.coffeelp{
  width: 100%;
}
h3{
  font-weight: normal;
}

ul li{
  display: inline-block;
}


.tm-navbar{
  background-color: rgb(217,83,79);


}

.tm-navbar ul{
display: flex;
justify-content: space-around;
}
.tm-navbar ul li{
  font-size: 28px;
  font-weight: bold;

}

.tm-navbar ul li a{
  color: rgb(255,255,255);
  text-decoration: none;
}

.tm-navbar ul li a:hover{
  color:rgb(0,0,0);
}


.tm-main-1{
  width: 42%;
  padding-right: 2%;
  display: inline-block;

}

.tm-main-2{
  width: 42%;
  padding-left: 2%;
  display: inline-block;
}

.tm-button a{
  text-decoration:none;
  font-size: 18px;
}
.tm-button a:visited{
  color: rgb(255,255,255);
}
.tm-button{
  background-color: rgb(217,83,79);
  border:none;
  text-align: center;
  border-radius: 10px;
  margin:auto;
  display: block;
  justify-content: space-around;
}

.tm-footer{
  position: relative;
  width: 100%;
  background-color: rgb(217,83,79)
  color: rgb(255,255,255);

}

.far{
  color: rgb(217,83,79);
  font-size: 30px;
  display: inline-block;
}

.hrstyle{
  color: rgb(217,83,79);
  border-top: 3px solid rgb(217,83,79);
  border-radius: 2px;
}
